@font-face {
    font-family: 'segoe_lightregular';
    src: url('../fonts/segoel-webfont.eot');
    src: url('../fonts/segoel-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/segoel-webfont.woff') format('woff'),
         url('../fonts/segoel-webfont.ttf') format('truetype'),
         url('../fonts/segoel-webfont.svg#segoe_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}