doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/main.css')
		include html5shiv
		script.
			var imdb_db = !{imdb_db};
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
		script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js")
		link(href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css")
		script(src="/js/three.min.js")
		script(src="/js/stats.min.js")
		script(src="/js/OrbitControls.js")
		script(src="/js/info.js")
		script(src="/js/draw.js")
	body
		block content