include header

.content
	#container
		.film_info
			.close
				img(src='../images/close.png')
					
			.inner
				h1
				h2
				h3
				img
				p
	footer
		img(src='../images/ie_logo.png')
		img(src='../images/imdb_logo.png').imdb